# Twitch Info
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
TWITCH_BOT_ID=
TWITCH_BROADCASTER_ID=
TWITCH_CHANNELS=channels,to,connect,to,here
# REDIS
REDIS_URL=redis://localhost:6379 # example url, change as needed
# SERVER
ENCRYPTION_KEY= # must be a 32 byte hex string!
SESSION_SECRET=This_Should_Be_A_Unique_Randomly_Generated_String
COOKIE_SECRET=This_Should_Be_A_Unique_Randomly_Generated_String
# DOCKER
API_PORT=4000
WEB_PORT=5000

# OPTIONAL VARS
NODE_ENV=development # defaults to production if not provided
# used for music functionality
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# used to get your Deadlock rank only
STEAM_ID=
RATE_LIMIT_MAX=100 # defaults to 4 if not given
# only needed in a development environment, issued by ngrok, see: (ngrok blog authentication url HERE)
NGROK_AUTH_TOKEN=Received_Via_Ngrok
# only needed in a development environment, used to sign webhooks for verification
EVENTSUB_SECRET=This_Should_Be_A_Unique_Randomly_Generated_String
CLIENT_URL = # will default to http://localhost:4000 in production, http://localhost:5000 in development