# Twitch Info
TWITCH_CLIENT_ID=twitch_client_id_here
TWITCH_CLIENT_SECRET=twitch_client_secret
TWITCH_BOT_ID=bot_user_id_here
TWITCH_BROADCASTER_ID=bot_owner_twitch_id_here
CHANNELS=channels,to,connect,to,here
# Spotify Info
SPOTIFY_CLIENT_ID=spotify_client_id (optional)
SPOTIFY_CLIENT_SECRET=spotify_client_secret (optional)
# Redis
REDIS_URL=redis://localhost:6379 # example url, change as needed
# App vars
NODE_ENV=development (optional)
NGROK_AUTH_TOKEN=This_Should_Be_A_Unique_Randomly_Geneated_String (optional: only needed in development env)
EVENTSUB_SECRET=This_Should_Be_A_Unique_Randomly_Geneated_String 
# API vars
ENCRYPTION_KEY=This_Should_Be_A_Unique_Randomly_Geneated_String
COOKIE_SECRET=This_Should_Be_A_Unique_Randomly_Geneated_String
RATE_LIMIT=9999 (optional, default value is 4)
# Endpoint vars
API_PORT=endpoint_for_backend (optional: default is 4001)
WEB_PORT=endpoint_for_front_end (optional: default is 5001)