# Ignore artifacts:
build
coverage

# custom additions
node_modules
pnpm-lock.yaml

# TypeScript
tsconfig.tsbuildinfo

# config files
.prettierrc
eslint.config.mjs
tsconfig.json

# documentation
README.md