services:
  digittron:
    container_name: digittron
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/secondubly/digittron:latest
    depends_on:
      redis:
        condition: service_started
    restart: unless-stopped
    ports:
      - "${WEB_PORT:-5000}:5000"
      - "${API_PORT:-4000}:4000"
    environment:
      # Twitch
      - CLIENT_ID=${CLIENT_ID}
      - CLIENT_SECRET=${CLIENT_SECRET}
      - BOT_ID=${BOT_ID}
      - TWITCH_ID=${TWITCH_ID}
      - CHANNELS=${CHANNELS}
      # Redis Cache
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      # Web/API
      - WEB_PORT=${WEB_PORT:-5000}
      - API_PORT=${API_PORT:-4000}
    volumes:
      - ./data/:/usr/src/app/data
  redis:
    container_name: redis
    image: redis:8.2.1
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  redis_data:
