.now-playing-container img {
    width: 50%;
    box-shadow: var(--paper-shadow);
}

.now-playing-title {
    text-transform: uppercase;
}

ol {
    list-style: 'none';
    padding: 0;
    counter-reset: item-counter;
}

ol li::before {
    content: counter(clean-counter) '';
    color: var(--mantine-color-dark-2);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.24em;
    height: 1.24em;
    border-radius: var(--mantine-radius-xs);
    flex-shrink: 0;
}

.queue-container {
    flex-basis: 25%;
}

.queue-item {
    counter-increment: clean-counter; /* Increments counter for each item */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--mantine-spacing-xs);
    counter-increment: clean-counter;
    flex-wrap: nowrap;
    padding: var(--mantine-spacing-xs);
}

.queue-item img {
    width: 25%;
}

.queue-item-duration {
    flex-grow: 1;
    text-align: right;
}
/* .queue-item {
    padding: var(--mantine-spacing-xs);
}

.queue-item-container {
    gap: var(--mantine-spacing-xs);
}

.queue-album-art {
    min-width: 50px;
    max-width: calc(var(--mantine-scale) * 3.75rem);
}

.queue-item-track-info {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */
