.now-playing-container img {
  width: 50%;
  max-width: 600px;
  box-shadow: var(--paper-shadow);
  flex-grow: 1; /* maybe shrink this a bit */
}

.now-playing-title {
  text-transform: uppercase;
}

ol {
  list-style: 'none';
  padding: 0;
  counter-reset: item-counter;
}

ol li::before {
  content: counter(clean-counter) '';
  color: var(--mantine-color-dark-2);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.24em;
  height: 1.24em;
  border-radius: var(--mantine-radius-xs);
  flex-shrink: 0;
}

.queue-container {
  flex-basis: 25%;
  flex-grow: 1;
}

.queue-item {
  counter-increment: clean-counter; /* Increments counter for each item */
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--mantine-spacing-xs);
  counter-increment: clean-counter;
  flex-wrap: nowrap;
  padding: var(--mantine-spacing-md);
  padding-left: 0;
}

.queue-item img {
  width: 15%;
}

.queue-item-duration {
  flex-grow: 1;
  text-align: right;
}
