NODE_ENV=development
CLIENT_ID=''
CLIENT_SECRET=''
TWITCH_CHANNELS=channels,go,here
BOT_USERNAME=bot_username
REDIS_URL=""
PSQL_USER=""
PSQL_PASS=""
PSQL_PORT=''
PSQL_HOST=""
PSQL_DB_NAME="digittron"
DATABASE_URL="postgresql://${PSQL_USER}:${PSQL_PASS}@${PSQL_HOST}:${PSQL_PORT}/${PSQL_DB_NAME}?schema=public"
LISTENER_SECRET='thisShouldBeARandomlyGeneratedFixedString'
SPOTIFY_CLIENT_ID=''