NODE_ENV=development
CLIENT_ID=
CLIENT_SECRET=
TWITCH_CHANNELS=channels,go,here
BOT_USERNAME=bot_username
BOT_OAUTH_TOKEN="oauth:<oauth_token>"
REDIS_URL=""
PSQL_USER=""
PSQL_PASS=""
PSQL_PORT=5432
PSQL_HOST=""
PSQL_DB_NAME="digittro"
DATABASE_URL="postgresql://${PSQL_USER}:${PSQL_PASS}@${PSQL_HOST}:${PSQL_PORT}/${PSQL_DB_NAME}?schema=public"